div{background-color: aqua;padding: 1%;width: 50%;
    
}
h1{text-align: center;
text-shadow: 2px 2px red;}
h2{font-style: italic;
font-size:50px;
}
p{font-family: sans-serif;
white-space: nowrap;
}
#lorem{
    letter-spacing:6px;
    
}